.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.middle{
    width:70%;
    margin: auto;
}

.bgcolor{
    background-color: brown;
}
